section{
    max-width: 100%;
}

.temp{
    color: orange;
}

.sun-title{
  color: orange;
  background: white;
  padding: 1em;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  
}




/*

          PICTURES STYLE
-----------------------------------------
*/



.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.item{
  padding: 0;
  width: 450px;
  margin: 0;
}


.pc1{
  margin: 0 auto;
}

.sp-title{
  margin-top: 40px;
  border-top: 1px dotted black;
}




/*

          UTILITY CLASSES
-----------------------------------------
*/

.content-wrapper{
  
  padding: 40px;
}


@media (max-width: 850px){
  .item{
    padding: 0;
    width: 100%;
    margin: 0;
  }
}




/* .item {
  padding: 1px;
  background: rgba(238, 240, 241, 0.851);
  color: rgb(200, 208, 214);
} */

.item.shadow-box {
  box-shadow: 0.4px 0.4px 8px black;
}

/* .item:hover {
  box-shadow: 1px 1px 10px black;
} */

.grid .setup{
  grid-template-columns: repeat(3,1fr)
}

.setup{
  padding: 40px;
}