section{
    max-width: 100%;
}
.imgs{width: 100%;
padding: 200px;}



.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  "img1 img1 "
  "img1 img3"
  "img4 img5"
  "img5 img 5"
  ;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}




.item {
  padding: 1px;
  background: rgba(238, 240, 241, 0.851);
  color: rgb(200, 208, 214);
}

.item.shadow-box {
  box-shadow: 0.4px 0.4px 8px black;
}

.item:hover {
  box-shadow: 1px 1px 10px black;
}
